<div class="container">
  Completed Transactions
  <div class="row">
    <div class="col">
      <section class="main">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Request Id</th>
              <th>Symbol</th>
              <th># Stocks</th>
              <th>Submitted Time</th>
              <th>Requester</th>
              <th>Selected Lender</th>
              <th>status</th>
              <th>Action</th>
              <th>Transaction Id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <th scope="row">{{transaction.requestId}}</th>
              <td>{{transaction.symbol}}</td>
              <td>{{transaction.noOfStocks}}</td>
              <td>{{transaction.createDateTime}}</td>
              <td>{{transaction.requestedBy}}</td>
              <td>{{transaction.selectedLender}}</td>
              <td>{{transaction.status}}</td>
              <td><button class="btn btn-success" (click)="approveRequest(transaction)">Close Loan</button></td>
              <td>{{transaction.trasactionId}}</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>